.top-bar {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.back {
  color: hsl(168, 22%, 35%);
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25rem;
}

.back:hover {
  color: black;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1rem;
}

.main {
  padding: 1rem;
}

.author-info {
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  border: 0.5rem inset hsl(168, 35%, 45%);
  border-radius: 25px;
  padding: 0.5rem;
}

.user-info {
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  border: 0.5rem inset hsl(168, 35%, 45%);
  border-radius: 25px;
  width: fit-content;
  padding: 0.75rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.user-input {
  font-size: 1rem;
  display: block;
}

.user-checkbox {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
}

.center-text {
  text-align: center;
}

.button-mobile-size {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
}

.button {
  color: hsl(168, 22%, 35%);
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border: solid;
  padding: 0.25rem;
}

.button:hover {
  background-color: hsla(160, 100%, 61%, 0.38);
}

.submit {
  display: flex;
  justify-content: center;
}

.umbrella-genre {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.for-accessibility {
  visibility: hidden;
  display: block;
  width: 0px;
  height: 0px;
}

.remove-dash{
  color: red;
}

.remove-dash:hover{
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .author-info {
    font-size: 1.25rem;
    border: 0.75rem inset hsl(168, 35%, 45%);
    width: 50%;
    display: block;
    padding: 2rem;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .user-info {
    font-size: 1.25rem;
    border: 0.75rem inset hsl(168, 35%, 45%);
    display: block;
    padding: 2rem;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
  }

  .user-input {
    display: inline;
    font-size: 1.25rem;
    width: 65%;
  }

  .button {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 900px) {
  .button-mobile-size {
    display: inline-block;
    padding: 0;
  }
}